@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

* {
    box-sizing: border-box; /* di default le dimensioni reali di un elemento sono calcolate come height/width + padding. con questa opzione le dimensioni reali saranno quelle precisamente definite solo da width/height */
    margin:0; /* avoid the application of browser's margin for some elements */
    padding:0; /* avoid the application of browser's padding for some elements */ 
}

body.body_index{
    background-image: url(img/bck_index.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

body.body_curriculum{
    background-image: url(img/bck_curriculum.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

body.body_portfolio {
    background-image: url(img/bck_portfolio.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

body.bdthesis_body {
    background-image: url(img/bdthesis/bck_bdthesis.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

body.labenv_body {
    background-image: url(img/lab_amb/bck_labenv.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

body.labproj_body {
    background-image: url(img/lab_projecto/bck_labproj.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

body.monit_body {
    background-image: url(img/monit_exam/bck_monit.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

body.mdthesis_body {
    background-image: url(img/mdthesis/bck_mdthesis.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ NAVBAR +++++++++++++++++++++++++++++++++++++++++++++++++++ */

.nav_links li, .home, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:white;
    text-decoration:none; /*elimina le sottolineature nei link e tutte le decorazioni date di default dal browser */
}

header {
    display:flex; /* necessario per applicare il justify content space between */
    justify-content:space-between; /* il justify content allinea gli elmenti nel flexible container quando gli elementi non utilizzando tutto lo spazio orizzontale. Lo space between aggiunge spazio tra gli elementi distribuendoli in modo orizzontale e occupando tutto il container*/
    align-items: center;/*centra gli elementi orizzontalmente e verticalmente all'interno del container */
    padding:40px 3%; /*applica il padding nei confronti degli elementi dentro l'header */
    background-color: #090909;
    height: 30px;
    position:sticky;
    top:0px;
    z-index:1;
}

nav {
    display:flex;
}

.nav_links {
    list-style:none; /*elimina i pallini dall'elenco */
    margin: auto;
}

.nav_links li {
    display: inline-block; /* posiziona gli elementi della lista orizzontalmente */
    padding:20px; /* applicare una distanza di 0 px in alto e in basso e di 20px a destra e a sinistra */
}

.nav_links li a {
    transition:all 0.3s ease 0s; /* qualsiasi cambiamento nell'altezza, larghezza, colore  ecc.. dato tipo dal cursore che va sopra l'elemento, avrà un'animazione graduale della durata di 0.2 secondi in questo caso */
    border-radius: 50px;
}

.nav_links li a:hover {
    color: rgba(0,163,169,1);
}

button {
    padding: 9px 25px;
    background-color: rgba(0,163,169,0.8);
    border: none; /* elimina il bordo del bottone */
    border-radius: 50px;
    cursor: pointer; /*quando passo sull'immagine il cursore diventa manina */
    transition:all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,163,169,1);
}

.nav_project {
    color: rgba(0,163,169,1);
    display:inline-block;
    padding:20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ HOMEPAGE +++++++++++++++++++++++++++++++++++++++++++++++++++ */

div.main_content {
    margin:70px 100px;
    padding:25px 25px;
    background-color:rgba(255,255,255,0.7);
    border-radius: 30px;
    display:inline-block;
}

.contents {
    display:flex;
}

.my_face {
    border-radius: 30px;
    height: 90px;
    width:90px;
    filter: brightness(130%);
    margin-right: 20px;
}

.presentation {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-align:justify;
    line-height: 30px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ CURRICULUM +++++++++++++++++++++++++++++++++++++++++++++++++++ */

.cv_main {
    display:flex;
}

.sidebar {
    position:fixed;
    width:300px;
    height: 100%;
    background-color:rgba(255,255,255,0.7);
    padding: 90px 60px;
}

.sidebar ul li {
    list-style:none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15.5px;
    line-height: 50px;
}

.sidebar ul li a{
    text-decoration:none;
    color: #343434;;
}

.cv_content {
    margin-left:400px;
    margin-right:100px;
    margin-top:45px;
    display:flex;
    flex-direction: column;
}

.cv_section {
    margin-bottom:120px;
    background-color: rgba(255,255,255,0.3);
    padding:15px;
    border-radius:30px;
    display:flex;
    flex-direction: column;
}

.cv_content h1 {
    color:#02d4db;
    padding: 20px;
    border-radius:30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align:center;
    margin-bottom:20px;
}

.cv_card {
    background-color:rgba(255,255,255,0.8);
    padding: 20px;
    border-radius:30px;
    width:100%;
    margin-bottom: 15px;
    position:relative;
}

.text1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.text2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 15px;
}

.text3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.period {
    position:absolute;
    top:15px;
    right:15px;
    padding:7px 10px;
    border-radius:30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color:rgba(255,255,255,0.4);
    display:inline-block;
}

.link_intext {
    text-decoration:none;
    color:black;
    font-weight: 500;
    text-decoration: underline;
}

.skills_main {
    display:flex;
    justify-content:space-between;
}

.skills_column {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius:30px;
    background-color: rgba(255,255,255,0.8);
    width: calc(98%/2);
    display: flex;
    flex-direction: column;
    min-width:370px;
}

.skills_row {
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
}

.skills_text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: calc(98%/2);
    margin-right:10px;
}

.skills_boxes {
    display:flex;
    width: calc(98%/2);
    justify-content:space-around;
    align-items: center;
}

.checked {
    height:20px;
    width:30px;
    border-radius:7px;
    background-color: #172436;
}

.unchecked {
    height:20px;
    width:30px;
    border-radius:7px;
    background-color: #dbb17e;
}

.lang_container {
    display:flex;
    justify-content: space-around;
}

.lang_card {
    background-color: rgba(255,255,255,0.8);
    padding: 20px 35px;
    border-radius:30px;
    width: calc(96%/3);
    display:flex;
    min-width:250px;
    align-items: center;
}

.lang_flag {
   margin-right: 20px;
}

.lang_flag img{
    width: 60px;
    height: 60px;
}

.text_lang {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
}

.jumptarget::before {
    content:"";
    display:block;
    height:2000px;
    margin:-2000px 0 0;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ PORTFOLIO +++++++++++++++++++++++++++++++++++++++++++++++++++ */

.portfolio_main {
    margin-top: 45px;
    margin-bottom:80px;
    margin-right:45px;
    margin-left:45px;
}

.portfolio_row {
    display: flex;
    justify-content: space-between;
    margin-bottom:45px;
}

.portfolio_card {
    background-color: rgba(255,255,255,0.8);
    padding: 20px 20px;
    border-radius:20px;
    width: calc(96%/2);
    display:inline-block;
    text-decoration:none;
    color:black;
    transition:all 0.3s ease 0s;
}

.portfolio_card:hover {
    background-color: rgba(255,255,255,0.9);
    border:solid #0a123c 1px;
}

.portfolio_img {
    margin-bottom:15px;
}

.portfolio_img img {
    width:100%;
    height:100%; 
}
       
.portfolio_text1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 13px;
}

.portfolio_text2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 11px;
}

.portfolio_text3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 13px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ PROJECTS +++++++++++++++++++++++++++++++++++++++++++++++++++ */

.dbthesis_main {
    display:flex;
    flex-direction: column;
}

.project_h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 27px;
    text-align:center;
    margin-top:60px;
    margin-bottom:60px;
    padding-left:7%;
    padding-right:7%;
}

.project_h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 23px;
    text-align:center;
    margin-top:40px;
    margin-bottom:40px;
    padding-left:7%;
    padding-right:7%;
}

.project_h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align:center;
    margin-top:40px;
    margin-bottom:40px;
    padding-left:7%;
    padding-right:7%;
    text-decoration: underline;
}

.dbthesis_text {
    padding-left:7%;
    padding-right:7%;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
    line-height: 35px;
}
.project_img_container {
    display:flex;
    padding-left:7%;
    padding-right:7%;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
}

.dbthesis_container_right {
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.planimetry {
    width:100%;
}

.dbthesis_graphicsection {
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

.dbthesis_graphicsection1 {
    display:flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

.dbthesis_cad {
    width:410px;
    margin:10px 0px;
}

.dbthesis_table {
    width:600px;
    margin-bottom:20px;
}

.dbthesis_graphic {
    width:410px;
    margin:10px 0px;
}

.dbthesis_graphic0 {
    width:600px;
    margin:10px 0px;
}

.separator {
    height:100px;
    display:flex;
    align-content: space-around;
    justify-content: space-around;
}

.back_top button {
    background-color: black;
}

.back_top button:hover {
    color: rgba(0,163,169,1)
}

.labenv_panel {
    width:100%;
    padding-left:7%;
    padding-right:7%;
    margin-bottom:3%;
}

.monit_main {
    display:flex;
    flex-direction: column;
}

.monit_row {
    display:flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1% 0;
    padding-left:7%;
    padding-right:7%;
}

.monit_map {
    width:50%;
    min-width:410px;
}

.monit_legend {
    display:flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    margin-left:5%;
    width:32%;
}

.monit_legend_h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.monit_legend_h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top:2%;
    margin-left:2%;
}

.monit_legend_rowcont {
    margin-left:7%;
    margin-top:1%;
}

.monit_legend_row {
    margin-top:8%;
    display: flex;
    flex-direction: row;
}

.monit_legend_box {
    width:35px;
    height:20px;
}

.monit_legend_h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left:5%;
}

.mdthesis_main {
    display:flex;
    flex-direction: column;
}

.mdthesis_img {
    width:50%;
    align-self: center;
    min-width:420px;
    margin-bottom:5%;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ FOOTER +++++++++++++++++++++++++++++++++++++++++++++++++++ */

footer {
    padding:10px 30px;
    background-color: #090909;
    position:fixed;
    bottom:0;
    width:100%;
    z-index:1;
}
.p_footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:white;
    text-decoration:none;
    text-align:right;
}

.a_footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:white;
    text-decoration:none;
    transition:all 0.3s ease 0s;
}

.a_footer_email {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:white;
    text-decoration:none;
    transition:all 0.3s ease 0s;
    display: inline-block;
    position:relative;
    cursor: default;
}

.a_footer_email:hover {
    color: rgba(0,163,169,1);
}

.a_footer:hover {
    color: rgba(0,163,169,1);
}

.email_tooltip {
    visibility: hidden;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 7px 7px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 170%;
    left:-90px;
}

.email_tooltip::after {
    content: "";
    position: relative;
    top: 100%;
    border-width: 5px;
}

.a_footer_email:hover .email_tooltip {
    visibility: visible;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ MEDIA +++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media all and (max-width:1396px) {
    .dbthesis_container_right {
        flex-direction: row;
    }
}

@media all and (max-width:1380px) {
    .sidebar {
        display:none;
    }
    .cv_content {
        margin-right:10%;
        margin-left:10%;
    }
}

@media all and (max-width:1000px) {
    .cv_content {
        margin-right:5%;
        margin-left:5%;
    }
    .skills_main {
        flex-direction: column;
        align-items: center;
    }
    .skills_column {
        width:70%;
        margin-bottom:10px;
    }
    .lang_container {
        flex-direction: column;
        align-items: center;
    }
    .lang_card {
        margin-bottom:10px;
    }

}

@media all and (max-width:900px) {
    .period {
        position: sticky;
        margin-top: 10px;
    }
}

@media all and (max-width:768px) {
    div.main_content {
        margin:70px 50px;
        background-color: rgba(255,255,255,0.8);
    }
    div.contents {
        flex-direction:column;
        align-items: center;
    }
    .my_face {
        margin-right:0px;
        margin-bottom:10px;
    }
    .portfolio_row {
        flex-direction:column;
        margin-bottom:0px;
    }
    .portfolio_card {
        width:100%;
        margin-bottom:45px;
    }
    .portfolio_main {
        margin-bottom:30px;
    }
    .nav_project {
        display:none;
    }
}

@media all and (max-width:757px) {
    .monit_legend {
        width: 100%;
        margin-left:0;
        margin-bottom:5%;
        margin-top:2%;
    }
    .monit_legend_h1, .monit_legend_h2, .monit_legend_row {
        align-self: center;
        text-align: center;
        margin-left: 0px;
    }
    .monit_legend_rowcont {
        align-self: center;
    }
}


@media all and (max-width:640px) {
    .dbthesis_graphic0 {
        width: 450px;
    }
}

@media all and (max-width:490px) {
    header {
        padding:40px 5px;
    }
    .nav_links li {
        padding:0px 10px;
    }
    div.main_content {
        margin: 40px 50px;
    }
    .contents br {
        display:none;
    }
    .skills_column {
        width:95%;
        min-width: 250px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .skills_text {
        font-size: 16px;
    }
    .checked , .unchecked {
        height:10px;
        width:20px;
    }
    .cv_section{
        padding-left:10px;
        padding-right:10px;
        margin-bottom: 20px;
    }
    .lang_card {
        min-width:230px;
        padding:10px 35px;
    }
    .text_lang {
        font-size: 15px;
        line-height: 30px;
    }
    .lang_flag img{
        width: 40px;
        height: 40px;
    }
    .cv_content h1 {
        font-size: 25px;
        padding:10px;
    }
    .text1 {
        font-size: 18px;
    }
    .text2, .text3 {
        font-size: 16px;
    }
    .period {
        font-size: 12px;
    }
    .cv_main {
        margin-bottom: 40px;
    }
    .cv_content {
        margin-top:30px;
    }
    .portfolio_main {
        margin-right: 15px;
        margin-left: 15px;
        margin-top:30px;
    } 
    div.main_content {
        margin-right:20px;
        margin-left:20px;
    }
    .dbthesis_graphic, .dbthesis_graphic0 {
        width:300px;
    }
    .project_h1 {
        font-size: 24px;
        margin-top:50px;
        margin-bottom:50px;
    }

    .project_h2 {
        font-size: 20px;
        margin-top:30px;
        margin-bottom:30px;
    }

    .project_h3 {
        font-size: 17px;
        margin-top:30px;
        margin-bottom:30px;
    }

    .dbthesis_text {
        font-size: 17px;
        line-height: 30px;
    }

    .monit_map {
        min-width:100%;
    }

    .monit_legend_h1 {
        font-size: 16px;
    }

    .monit_legend_h2, .monit_legend_h3 {
        font-size: 13px;
    }

    .mdthesis_img {
        min-width: 300px;
    }
}