@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

* {
    box-sizing: border-box; /* di default le dimensioni reali di un elemento sono calcolate come height/width + padding. con questa opzione le dimensioni reali saranno quelle precisamente definite solo da width/height */
    margin:0; /* avoid the application of browser's margin for some elements */
    padding:0; /* avoid the application of browser's padding for some elements */ 
}

body.body_index{
    background-image: url(img/bck_index.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

body.body_curriculum{
    background-image: url(img/bck_curriculum.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

.nav_links li, .home, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:white;
    text-decoration:none; /*elimina le sottolineature nei link e tutte le decorazioni date di default dal browser */
}

header {
    display:flex; /* necessario per applicare il justify content space between */
    justify-content:space-between; /* il justify content allinea gli elmenti nel flexible container quando gli elementi non utilizzando tutto lo spazio orizzontale. Lo space between aggiunge spazio tra gli elementi distribuendoli in modo orizzontale e occupando tutto il container*/
    align-items: center;/*centra gli elementi orizzontalmente e verticalmente all'interno del container */
    padding:40px 30px; /*applica il padding nei confronti degli elementi dentro l'header */
    background-color: #090909;
    height: 30px;
    position:sticky;
    top:0px;
    z-index:1;
}

nav {
    display:flex;
    justify-content:space-between;
}

.nav_links {
    list-style:none; /*elimina i pallini dall'elenco */
    margin: auto;
    margin-left: 10px;
}

.nav_links li {
    display: inline-block; /* posiziona gli elementi della lista orizzontalmente */
    padding: 0px 20px; /* applicare una distanza di 0 px in alto e in basso e di 20px a destra e a sinistra */
}

.nav_links li a {
    transition:all 0.3s ease 0s; /* qualsiasi cambiamento nell'altezza, larghezza, colore  ecc.. dato tipo dal cursore che va sopra l'elemento, avrà un'animazione graduale della durata di 0.2 secondi in questo caso */
    border-radius: 50px;
}

.nav_links li a:hover {
    color: rgba(0,163,169,1);
}

button {
    padding: 9px 25px;
    background-color: rgba(0,163,169,0.8);
    border: none; /* elimina il bordo del bottone */
    border-radius: 50px;
    cursor: pointer; /*quando passo sull'immagine il cursore diventa manina */
    transition:all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,163,169,1);
}

div.main_content {
    margin:70px 100px;
    padding:25px 25px;
    background-color:rgba(255,255,255,0.7);
    border-radius: 30px;
    display:inline-block;
}

.contents {
    display:flex;
}

.my_face {
    border-radius: 30px;
    height: 90px;
    width:90px;
    filter: brightness(130%);
    margin-right: 20px;
}

.presentation {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-align:justify;
    line-height: 30px;
}

.cv_main {
    display:flex;
}

.sidebar {
    position:fixed;
    width:300px;
    height:100%;
    background-color:rgba(255,255,255,0.7);
    padding: 90px 60px;
}

.sidebar ul li {
    list-style:none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15.5px;
    line-height: 50px;
}

.sidebar ul li a{
    text-decoration:none;
    color: #343434;;
}

.cv_content {
    margin-left:400px;
    margin-right:100px;
    margin-top: 90px;
}

.cv_section {
    margin-bottom:120px;
    background-color: rgba(255,255,255,0.3);
    padding:15px;
    border-radius:30px;
}

.cv_content h1 {
    color:#02d4db;
    padding: 20px;
    border-radius:30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align:center;
    margin-bottom:20px;
     /* per limitare la larghezza dell'h1 al suo contenuto */
}

.cv_card {
    background-color:rgba(255,255,255,0.8);
    padding: 20px;
    border-radius:30px;
    width:100%;
    margin-bottom: 15px;
    position:relative;
}

.text1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.text2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 15px;
}

.text3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.period {
    position:absolute;
    top:15px;
    right:15px;
    padding:7px 10px;
    border-radius:30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color:rgba(255,255,255,0.4);
}

.link_intext {
    text-decoration:none;
    color:black;
    font-weight: 500;
    text-decoration: underline;
}

.skills_main {
    display:flex;
    justify-content: space-between;
}

.skills_column {
    padding: 20px 50px;
    border-radius:30px;
    background-color: rgba(255,255,255,0.8);
    width: calc(98%/2)
}

.skills_column ul {
    list-style:none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
}

.skills_column ul li {
    display:flex;
    justify-content: space-between;
}

.skills_boxes {
    display: inline-block;
    justify-content: space-between;
}

.checked {
    height:20px;
    width:30px;
    border-radius:7px;
    background-color: #172436;
    display: inline-block;
    margin-left:10px;
}

.unchecked {
    height:20px;
    width:30px;
    border-radius:7px;
    background-color: #dbb17e;
    display: inline-block;
    margin-left:10px;
}

footer {
    padding:10px 30px;
    background-color: #090909;
    position:fixed;
    bottom:0;
    width:100%;
    z-index:1;
}

.p_footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:white;
    text-decoration:none;
    text-align:right;
}

.a_footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:white;
    text-decoration:none;
    transition:all 0.3s ease 0s;
}

.a_footer:hover {
    color: rgba(0,163,169,1);
}

.jumptarget::before{
    content:"";
    display:block;
    height:115px;
    margin:-115px 0 0;
}

@media all and (max-width:768px) {
    div.main_content {
        margin:70px 50px;
    }
    div.contents {
        flex-direction:column;
        align-items: center;
    }
}
